/* Colors for the website */

/* 

#9D1535 = Maroon

#949594 = Gray

#FFFFFE = White

*/

body {
    background: #FFFFFE
}

.navbar {
    background: #949594;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.nav-link {
    color: white;
    font-weight: bold;
}

.header {
    height: 700px;
    background: #9D1535;
    color: #FFFFFE;
}

.header-text {
    font-size: clamp(2.5rem, 4vw, 900px);
    position: relative;
    top: clamp(10px, 6vw, 30px);
}

.header-img {
    background: url(imgs/STIT-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
}

.header-imgtext {
    position: relative;
    top: clamp(20px, 6vw, 50px);
}

span {
    text-decoration: underline;
    text-decoration-color: #9D1535;
    text-decoration-skip-ink: none;
}

.explore {
    width: 100px;
    background: #949594;
    color: white;
    border: none;
}

.explore:hover {
    background: #9d1535;
}

.explore:active {
    background: #9d1535;
    border: white 2px solid;
}

.why-stevens-row {
    position: relative;
    top: 50px;
}

.why-stevens1 {
    background: url(imgs/STIT-why-stevens.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    height:200px;
}
.why-stevens2 {
}

hr {
    color: #9D1535;
    
}