/* Colors for the website */

/* 

#9D1535 = Maroon

#949594 = Gray

#FFFFFE = White

*/

body {
    background: #FFFFFE
}

.navbar {
    background: #949594;
    width: 100%;
    z-index: 3;
}

.nav-link {
    color: white;
    font-weight: bold;
    transition: 0.25s;
}

.nav-link:hover {
    color: #9D1535;
    transition: 0.25s;
}

.header {
    height: 600px;
    background: #9D1535;
    color: #FFFFFE;
}

.header-text {
    font-size: clamp(2.5rem, 4vw, 900px);
    position: relative;
}

.header-img {
    background: url(imgs/STIT-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
}

.header-imgtext {
    position: relative;
    top: clamp(20px, 6vw, 50px);
}

span {
    text-decoration: underline;
    text-decoration-color: #9D1535;
    text-decoration-skip-ink: none;
}

.explore {
    width: 100px;
    background: #949594;
    color: white;
    border: none;
}

.explore:hover {
    background: #9d1535;
}

.explore:active {
    background: #9d1535;
    border: white 2px solid;
}

.why-stevens-row {
    position: relative;
    top: 50px;
}

.why-stevens1 {
    background: url(imgs/STIT-why-stevens.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    height:450px;
}
.why-stevens2 {
    height:450px;
    border: #9D1535 5px solid;
}

mark {
    color: white;
    background: #9D1535;
}

hr {
    color: #9D1535;
    position: relative;
    top: 50px;
}

.major-img {
    position: center, center;
    width:clamp(200px, 18vw, 900px);
}

.more-info-btn {
    width: 150px;
    background: #949594;
    color: white;
    border: none;
}

.more-info-btn:hover {
    background: #9d1535;
}

.more-info-btn:active {
    background: #9d1535;
    border: white 2px solid;
}

/* back to top */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #949594;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Urbanist", sans-serif;
    transition: 0.3s;
  }
  
  #myBtn:hover {
    background-color: #9D1535;
    transition: 0.3s;
  }