/* Colors for the website */

/* 

#9D1535 = Maroon

#949594 = Gray

#FFFFFE = White

*/

body {
    background: #FFFFFE
}

.navbar {
    background: #949594;
    height:100px;
    position: fixed;
    width: 100%;
}

.nav-link {
    color: white;
    font-weight: bold;
}

.header {
    height:700px;
    background: #9D1535;
    color: #FFFFFE;
}

.header-text {
    font-size: 4vw;
}

.header-img {
    background: url(imgs/STIT-header.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center, center;
}

.explore {
    width:100px;
}